@import "tailwindcss";

:root {
  --color-base: #fdfcf8;
  --color-main: #2563eb;
  --color-sub: #0d9488;
  --color-sub-strong: #0f766e;
  --color-accent: #fbbf24;
  --color-text: #334155;

  --background: var(--color-base);
  --foreground: var(--color-text);
}

.dark {
  --color-base: #0f172a;
  --color-main: #60a5fa;
  --color-sub: #14b8a6;
  --color-sub-strong: #5eead4;
  --color-accent: #fbbf24;
  --color-text: #e2e8f0;
  --background: var(--color-base);
  --foreground: var(--color-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition:
    background-color 240ms ease,
    color 240ms ease;
}
